.header {
  width: 100%;
  height: 70px;
  align-items: center;
}

.header a {
  color: #00bc8c;
  text-decoration: none;
}

.app-title a {
  color: #fff;
  margin-right: 30px;
}

.header-nav-menu {
  width: 100%;
  height: 100%;
  margin-right: 30px;
}

.header-nav-menu ul {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

